.esconder {
    display: none;
}

a {
    text-decoration: none;
}

.pointer {
    cursor: pointer;
    text-decoration: none;
}

.modal-dialog {
    width: 0;
    height: 0;
}

.modal-body {
    text-align: center;
}

.modal-body>iframe {
    width: 100vw;
    height: 100vh;
}

.cardZ:hover {
    margin-top: -20px;
    padding-bottom: 20px;
    transform: scale(1.3);
}

.cardZ .esconder {
    display: block;
    opacity: 0;
    height: 0;
}

.cardZ:hover .classenova {
    opacity: 1;
    transition: 0.5s linear;
}

.infoCard {
    font-size: 0.9rem;
    background-color: black;
}

.link {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

.link:hover {
    color: #ff8534;
}

.linha {
    border-bottom: 3px solid #515c6f;
}

.grow {
    height: 100vh;
    background: url('../assets/images/banner-initial.png') center top/cover no-repeat;
    background-attachment: fixed;
    background-color: black;
}

@media (min-width:770px) {
    .titulo-principal {
        font-size: 5rem !important;
        font-weight: bold !important;
    }

    .titulo-secundario {
        font-size: 3.5rem !important;
        font-weight: bold !important;
    }

    main {
        font-size: 1.8rem !important;
    }

    .capa-yt {
        height: 100vh !important;
        background: url('../assets/images/growcast-01.png') center top/cover no-repeat !important;
    }
}

.capa-yt {
    height: 50%;
    background: url('../assets/images/growcast-01.png');
}

.navbar .collapse:not(.show) {
    display: flex;
}

.mobile-pad {
    padding: 0 !important;
}

.mobile-fon {
    font-size: 2rem !important;
}

.botao-grande {
    width: 180px;
    height: 80px;
}

.coluna-home {
    height: 75vh;
}

.css80 {
    height: 80vh;
}

.css120 {
    min-height: 130vh;
}

.divbtn2 {
    min-height: 54vh;
}

.accordion {
    --bs-accordion-border-color: black;
    --bs-accordion-border-width: 3px;
    --bs-accordion-btn-color: white;
    --bs-accordion-btn-bg: #303030;
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13 25.8334C12.4806 25.8334 12.0455 25.6574 11.6947 25.3054C11.3427 24.9546 11.1667 24.5195 11.1667 24V14.8334H2.00002C1.48058 14.8334 1.04485 14.6574 0.692854 14.3054C0.342076 13.9546 0.166687 13.5195 0.166687 13C0.166687 12.4806 0.342076 12.0449 0.692854 11.6929C1.04485 11.3421 1.48058 11.1667 2.00002 11.1667H11.1667V2.00002C11.1667 1.48058 11.3427 1.04485 11.6947 0.692854C12.0455 0.342076 12.4806 0.166687 13 0.166687C13.5195 0.166687 13.9552 0.342076 14.3072 0.692854C14.658 1.04485 14.8334 1.48058 14.8334 2.00002V11.1667H24C24.5195 11.1667 24.9546 11.3421 25.3054 11.6929C25.6574 12.0449 25.8334 12.4806 25.8334 13C25.8334 13.5195 25.6574 13.9546 25.3054 14.3054C24.9546 14.6574 24.5195 14.8334 24 14.8334H14.8334V24C14.8334 24.5195 14.658 24.9546 14.3072 25.3054C13.9552 25.6574 13.5195 25.8334 13 25.8334Z' fill='%23F5F5F5'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13 25.8334C12.4806 25.8334 12.0455 25.6574 11.6947 25.3054C11.3427 24.9546 11.1667 24.5195 11.1667 24V14.8334H2.00002C1.48058 14.8334 1.04485 14.6574 0.692854 14.3054C0.342076 13.9546 0.166687 13.5195 0.166687 13C0.166687 12.4806 0.342076 12.0449 0.692854 11.6929C1.04485 11.3421 1.48058 11.1667 2.00002 11.1667H11.1667V2.00002C11.1667 1.48058 11.3427 1.04485 11.6947 0.692854C12.0455 0.342076 12.4806 0.166687 13 0.166687C13.5195 0.166687 13.9552 0.342076 14.3072 0.692854C14.658 1.04485 14.8334 1.48058 14.8334 2.00002V11.1667H24C24.5195 11.1667 24.9546 11.3421 25.3054 11.6929C25.6574 12.0449 25.8334 12.4806 25.8334 13C25.8334 13.5195 25.6574 13.9546 25.3054 14.3054C24.9546 14.6574 24.5195 14.8334 24 14.8334H14.8334V24C14.8334 24.5195 14.658 24.9546 14.3072 25.3054C13.9552 25.6574 13.5195 25.8334 13 25.8334Z' fill='%23F5F5F5'/%3e%3c/svg%3e");
    --bs-accordion-border-radius: 0;
    --bs-accordion-active-color: white;
    --bs-accordion-active-bg: #303030;
    --bs-accordion-btn-padding-x: 1.5rem;
    --bs-accordion-btn-padding-y: 1.5rem;
}

.accordion-item,
.accordion-button {
    border-radius: 0 !important;
}

.accordion-button {
    font-size: 1.5rem;
}